@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');


body {
  background-color: #FFFDF2;
  font-family: 'Rajdhani', sans-serif;
}

#contentGrid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3,1fr); */
}

#pagetitle {
  font-size: 4em;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
}

#outputElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  border: 2px solid;
  border-radius: 0.25vmin;
  height: 90vh;
  flex-basis: 25%;
}
.contentTitle {
   font-weight: 700;
 }

.contentArtistName {
  font-weight: 500;
}
.contentDOB, .contentGenre, .contentSong {
  font-weight: 300;
}

.contentImage {
  width: 400px;
  height: 300px;
}
